@use "./base.scss";

// put your custom CSS here!

@font-face {
  font-family: "General Sans";
  src: url("/static/fonts/GeneralSans-Variable.woff2") format("woff2-variations");
  src: url("/static/fonts/GeneralSans-Variable.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/static/fonts/GeneralSans-VariableItalic.woff2") format("woff2-variations");
  src: url("/static/fonts/GeneralSans-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
  src: url("/static/fonts/JetBrainsMono-Variable.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2-variations");
  src: url("/static/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: italic;
}

$subtitle: clamp(1.5rem, 5vw, 2.5rem);
$title: clamp(2rem, 5vw, 3rem);
$body: clamp(1rem, 5vw, 1.1rem);

html {
  font-size: $body;
}

*::selection {
  background-color: #333;
}

.article-title {
  font-size: $subtitle;
}

article {
  a.external {
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0 2.5px;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  p,
  span,
  ol,
  ul {
    line-height: 1.5;
  }
}
