@use "./base.scss";

// put your custom CSS here!

@font-face {
  font-family: "General Sans";
  src: url("/static/fonts/GeneralSans-Variable.woff2") format("woff2-variations");
  src: url("/static/fonts/GeneralSans-Variable.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/static/fonts/GeneralSans-VariableItalic.woff2") format("woff2-variations");
  src: url("/static/fonts/GeneralSans-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
  src: url("/static/fonts/JetBrainsMono-Variable.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2-variations");
  src: url("/static/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

article li {
  margin-bottom: 0.75rem;
}

article li li {
  margin-top: 0.75rem;
}

article *:not(h1, h2, h3, h4, h5, h6) {
  font-size: 1.1rem;
  line-height: 1.6;
}

.article-title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

@media screen and (min-width: 768px) {
  article li {
    margin-bottom: 0.5rem;
  }

  article li li {
    margin-top: 0.5rem;
  }

  article *:not(h1, h2, h3, h4, h5, h6) {
    font-size: 1.125rem;
  }
}
